<%- include header %>
<ul class="list-group">
	<li class="list-group-item"><a href="http://www.frankxie.nl.ae" target="_blank">www.frankxie.nl.ae</a></li>
	<li class="list-group-item"><a href="http://www.goddamn.nl.ae" target="_blank">www.goddamn.nl.ae</a></li>
</ul>
<%- include footer %>