<%- include header %>
<div class="row reg-row">
	<div class="col-md-3">
		<form method="post" class="form-horizontal auth-form container" role="form">
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10">
					<input type="text" class="form-control" id="name" name="name" placeholder="USERNAME">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10">
					<input type="password" class="form-control" id="password" name="password" placeholder="PASSWORD">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10">
					<button type="submit" class="btn btn-primary validate"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;SIGN IN</button>
				</div>
			</div>
		</form>
		<br><br>
		<div class="container"><span class="fontWhite f16px to-reg">No account yet?</span><a href="/reg"><button class="btn btn-warning pull-right"><span class="glyphicon glyphicon-star"></span>&nbsp;SIGN UP</button></a></div>
	</div>
	<div class="reg-divider"></div>
	<div class="col-md-offset-1 col-md-8">
	</div>
</div>
<%- include footer %>