<%- include header %>
<form method="post" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">用户名：</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="name" id="name" placeholder="请输入用户名">
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">密码：</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" name="password" id="password" placeholder="请输入用户密码">
		</div>
	</div>
	<div class="form-group">
		<label for="repeat_psw" class="col-sm-2 control-label">确认密码：</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" name="password-repeat" id="repeat_psw" placeholder="确认密码">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">邮箱：</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="email" id="email" placeholder="请输入用户邮箱">
		</div>
	</div>
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
      		<button type="submit" class="btn btn-info">注册</button>
    	</div>
    </div>
</form>
<%- include footer %>