body {
  padding: 50px;
  font: 14px;
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif !important;
}

header{
	padding-bottom: 15px;
	text-align: center;
}

a {
  color: #00B7FF;
}

.paging{
	margin-top: 30px;
	text-align: center;
}
