body {
  padding: 50px;
  font: 14px "Alex Brush", Helvetica, Arial, sans-serif;
}

header{
	padding-bottom: 15px;
	text-align: center;
}

a {
  color: #00B7FF;
}

.header{
	text-align: center;
	font-weight: bold;
	font-family: 'Alex Brush', cursive;
	color: HSLA(0.48, 83.89%, 70.78%, 1);
}