html, body{
	height: 100%;
}

body {
	padding: 40px;
	padding-bottom: 0;
	font: 14px;
	font-family: "Comic Sans MS", Helvetica, Arial, sans-serif !important;
	background: url('../images/wordpress.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.fontWhite{	color: white; }
.f16px{ font-size: 16px; }
.f40px{ font-size: 40px; }
.fB{ font-weight: bold; }

.wrap{
	min-height: 100%;
	position: relative;
}

article{
	padding-bottom: 79px;
}

header{
	padding-bottom: 15px;
	text-align: center;
}

footer{
	position: absolute;
    bottom: 0;
	margin-top: -79px;
	height: 79px;
	width: 100%;
	clear: both;
}

a {
  color: #00B7FF;
}

.info{
	line-height: 30px;
	vertical-align: middle;
	text-align: right;
	width: 100%;
}

.paging{
	text-align: center;
}

.posts{
	width: 100%;
}

input[type='file']{
	color: white;
	display: inline-block;
}

.single-post-list{
	padding: 0 50px;
	width: 70%;
	margin: 30px auto;
	position: relative;
	/*border: 2px solid #ddf;*/
	background-color: rgba(0,0,0,1);
	color: white;
	box-shadow: 0 0 0.5em #e6e6e6 inset,0 0 0 1px #d4d4d4;
	-webkit-box-shadow: 0 0 0.5em #e6e6e6 inset,0 0 0 1px #d4d4d4;
	border-radius: 0.25em 0.25em 18em 18em/0.25em 0.25em 0.5em 0.5em;
}

.single-post-list:before{
	left: 10px;
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);
	content: "";
	position: absolute;
	-webkit-box-shadow: 0 10px 5px rgba(200,200,200,0.37);
	box-shadow: 0 10px 5px rgba(200,200,200,0.37);
	-webkit-border-radius: 0 0 4em 4em/0 0 0.25em 0.25em;
	border-radius: 0 0 4em 4em/0 0 0.25em 0.25em;
	width: 50%;
	height: 50px;
	bottom: 8px;
	z-index: -9999;
}

.single-post-list:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
	content: "";
	position: absolute;
	-webkit-box-shadow: 0 10px 5px rgba(200,200,200,0.37);
	box-shadow: 0 10px 5px rgba(200,200,200,0.37);
	-webkit-border-radius: 0 0 4em 4em/0 0 0.25em 0.25em;
	border-radius: 0 0 4em 4em/0 0 0.25em 0.25em;
	width: 50%;
	height: 50px;
	bottom: 8px;
	z-index: -9999;
}

.single-post{
	padding-left: 15px;
	margin: 3px;
	background-color: rgba(0,0,0,0.8);
	color: white;
	width: 32.5%;
	float: left;
	border: 2px solid #ddf;
	overflow: hidden;
}

.inner-container{
	width: 100%;
	height: 100%;
	padding-right: 15px;
	overflow: auto;
	overflow-x: hidden;
}

.single-post:hover{
	border: 2px solid #428bca;
	background-color: black;
	-webkit-transition: background-color .5s linear;
	transition: background-color .5s linear;
}

.dragging{
	padding: 0 15px;
	margin: 3px;
	background-color: #FF8000;
	opacity: 0.7;
	width: 32.5%;
	float: left;
	display: inline;
	border: 1px solid #428bca;
}

.post-sortable-placeholder{
	background-color: #ccc;
}

.show-post{
	padding-top: 20px;
}

.single-post .close, .dragging .close{
	margin-right: 5px;
}

.created-time{
	margin: 15px;
	font-size: 16px;
	color: #aaa;
}

.comment{
	width: 70% !important;
	padding: 0 50px !important;
	margin-bottom: 30px;
	color: white;
}

.comment input{
	text-align: center;
}

.comment textarea{
	width: 100%;
}

.container{
	padding: 15px;
	border: 2px solid #428bca;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.5);
	width: auto;
}

.auth-form{
	margin-top: 30%;
	width: 100%;
}

.auth-form input, .auth-form .form-submit{
	text-align: center;
}

.video-div{
	margin-left: 0;
	margin-top: 10%;
	width: 755px;
}

.reg-divider{
	height: 95%;
	position: absolute;
	top: 25px;
	border: 1px solid #428bca;
	left: 26%;
}

.post-form{
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #428bca;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.5);
}

.ke-edit{
	height: 200px;
}

button.validate{
	width: 100%;
}

.to-reg{
	line-height: 30px;
}

/*OVERRIDE BOOTSTRAP*/
ul.navbar-nav li.active a{
	background-color: #428bca !important;
	color: white !important;
}

ul.navbar-nav li a:hover{
	color: white !important;
	-webkit-transition: color .5s linear;
	transition: color .5s linear;
}

.navbar{
	background-color: rgba(0,0,0,0.5);
	border-bottom-color: #428bca;
}

.navbar-brand{
	font-size: 23px;
	font-weight: bold;
}

.navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .dropdown-menu>li>a, .dropdown-menu {
	color: #999;
	background-color: rgba(0,0,0,0.5) !important;
}

.dropdown-menu li{
	border: 1px solid #428bca;
}

.alert{
	position: fixed;
	top: 53px;
	width: 95%;
	z-index: 1000;
}

input.form-control{
	background-color: rgba(0,0,0,0.5);
	color: white;
}

button.close{
	color: white;
}

button.close:hover{
	color: white;
	opacity: 1;
}